$bg-light-grey: #F3F5F8;
$bg-light: white;
$bg-dark-grey:#222326;
$bg-dark: #37383C;
$color-text: #572EE5;
$color-aqua: #50E3C2;
$bg-carrusel: #F3F5F8;
* {
    margin: 0;
    padding: 0;
}

header {
    height: 95px;
    background: $bg-light;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    .line {
        height: 3px;
        width: 100%;
        background: $color-text;
    }
    .logo img {
        position: fixed;
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
        padding: 20px 20px;
        z-index: 3;
    }
    .navigation {
        font-family: 'Montserrat', sans-serif;
        float: right;
        align-items: center;
        margin-right: 10%;
        .menu {
            input {
                display: none;
            }
            span {
                display: none;
            }
            ul {
                position: relative;
                top: 0;
                right: 0;
                overflow: hidden;
                background: unset;
                height: unset;
                li {
                    margin: 1px;
                    padding: 5px 10px;
                    display: inline-block;
                    text-align: center;
                    a {
                        padding: unset;
                        color: $color-text;
                        line-height: unset;
                        text-decoration: none
                    }
                    hr {
                        clear: both;
                        visibility: hidden;
                    }
                }
                &:hover {
                    background: unset;
                }
            }
        }
    }
}

main {
    .container1 {
        width: 100%;
        text-align: center;
        line-height: 0;
        h1 {
            margin-top: 10%;
            font-family: 'Montserrat', sans-serif;
            font-size: 35px;
            color: $color-text;
            text-align: center;
            line-height: 50px;
        }
        .colgif {
            color: $color-aqua;
        }
        .img-wlc {
            margin: 0%;
        }
        .searchText {
            border-radius: 50px;
            border: 1px solid $color-text;
            width: 550px;
            height: 50px;
            padding-left: 40px;
            font-size: 15px;
            background: url(../assets/icon-search.svg) no-repeat scroll 7px 7px;
            background-position-x: 96%;
            background-position-y: 50%;
        }
        .suggestList {
            margin-left: 20px;
            border: none;
            font-family: "Roboto", sans-serif;
            color: #9CAFC3;
            font-size: 16px;
            text-align: left;
            line-height: 19px;
            font-weight: 300;
            cursor: pointer;
            background: url(../assets/icon-search-gris.svg) no-repeat scroll 7px 7px;
        }
        .searchText:focus {
            outline: none;
        }
        .input[list] {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
            background: #D2E9FF;
            padding: 20px 20px 20px 20px;
            font: 12px Arial, Helvetica, sans-serif;
            color: #666;
        }
    }
    .trendingTxt {
        text-align: center;
        color: $color-text;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        h4 {
            margin: 2%;
            text-align: center;
            color: $color-text;
            font-family: 'Montserrat', sans-serif;
        }
        a:hover {
            color: $color-aqua;
            cursor: pointer;
        }
    }
    .wordsSearchResult {
        h4 {
            text-align: center;
            color: $color-text;
            font-family: 'Montserrat', sans-serif;
            font-size: 35px;
            margin-top: 5%;
            margin-bottom: 0%;
            text-transform: capitalize;
        }
    }
    .container2 {
        background-color: $bg-light;
        max-width: 1440px;
        margin: 3% 8% 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .overlayGif {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $color-text;
            &:hover {
                opacity: 1;
            }
            .htmlTitulo {
                line-height: 20px;
                text-align: left;
                font-family: 'Roboto-Bold', sans-serif;
                font-weight: bold;
                font-size: 16px;
                color: white;
                position: relative;
                margin: 10px;
                top: 80%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .htmlUsuario {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                color: #FFFFFF;
                margin: 10px;
                position: relative;
                top: 20%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: left;
            }
        }
        .divGifCont {
            position: relative;
            margin: 10px;
            line-height: 0;
            .fav-button {
                height: 32px;
                width: 32px;
                background-repeat: no-repeat;
                border: none;
                background-position: .50% 50%;
                background-image: url(../assets/icon-fav.svg);
                margin-right: 10px;
                margin-top: 6px;
                float: right;
                border-radius: 6px;
                outline: none;
                &:hover {
                    background-image: url(../assets/icon-fav-hover.svg);
                    cursor: pointer;
                    border-radius: 6px;
                }
            }
            .fav-button-selected {
                background-image: url(../assets/icon-fav-active.svg);
                float: right;
                padding-right: 10px;
                padding-top: 6px;
                cursor: pointer;
                outline: none;
            }
            .download-button {
                background-image: url(../assets/icon-download.svg);
                float: right;
                height: 32px;
                width: 32px;
                background-repeat: no-repeat;
                border: none;
                background-position: .50% 50%;
                margin-right: 10px;
                margin-top: 6px;
                border-radius: 6px;
                outline: none;
                &:hover {
                    background-image: url(../assets/icon-download-hover.svg);
                    cursor: pointer;
                    border-radius: 6px;
                }
            }
            .max-button {
                background-image: url(../assets/icon-max-normal.svg);
                float: right;
                height: 32px;
                width: 32px;
                background-repeat: no-repeat;
                border: none;
                background-position: .50% 50%;
                margin-right: 10px;
                margin-top: 6px;
                border-radius: 6px;
                outline: none;
                &:hover {
                    background-image: url(../assets/icon-max-hover.svg);
                    cursor: pointer;
                    border-radius: 6px;
                }
            }
            &:hover .overlayGif {
                background: rgba(87, 46, 229, 0.6);
            }
        }
        img {
            flex: none;
            height: 200px;
            width: 260px;
        }
    }
    .container2noRes {
        margin: auto;
        img {
            padding-top: 5%;
            display: block;
            margin: auto;
            align-items: center;
            width: 150px;
            height: 150px;
        }
        h3 {
            text-align: center;
            color: $color-aqua;
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            margin-top: 5%;
            margin-bottom: 0%;
            text-transform: capitalize;
        }
    }
    .containerFav {
        .favTitle {
            margin-top: 8%;
            text-align: center;
            h2 {
                margin-top: 1%;
                font-family: 'Montserrat', sans-serif;
                color: $color-text;
            }
        }
        .noFavDiv {
            margin-top: 10%;
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            color: $color-aqua;
            text-align: center;
            line-height: 25px;
        }
    }
    .carrusel {
        width: 100%;
        height: 640px;
        background-color: #F3F5F8;
    }
}